
<!--a-scene embedded arjs>
    <a-marker preset="hiro">
        <a-entity gltf-model="#tree" scale="0.01 0.01 0.01"></a-entity>
    </a-marker>
    <a-entity camera></a-entity>
  </a-scene>

  <a-scene>
    <a-entity class="clickable" geometry="primitive: box" position="1 0 0"></a-entity>
    <a-entity class="not-clickable" geometry="primitive: sphere" position="-1 0 0"></a-entity>
  </a-scene-->
  <button (click)="goToHome()" class="btn btn-primary btn-sm">Home</button>
  <div class="scroll-auto">
    <app-arheader [modelos]="modelos" (changeModel)="receiveModel($event)"></app-arheader>
  </div>
  
  <div class="demo" style="background: linear-gradient(#ffffff, #ada996); overflow: hidden;">
  <model-viewer src="{{urlItem}}" 
  ar ar-scale="auto" camera-controls touch-action="pan-y" 
  alt="A 3D model of an astronaut" 
  xr-environment
  ar  ></model-viewer>


  </div>
