<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <a href="https://www.facebook.com/Publicar3d/" class="font-weight-bold ml-1" target="_blank">Publicar-3D</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="https://www.youtube.com/watch?v=Z84WY_-uOeY" class="nav-link" target="_blank">Publicar-3D</a>
        </li>
        <li class="nav-item">
          <a href="https://www.youtube.com/watch?v=uV1axa8I7OA" class="nav-link" target="_blank">Turismo</a>
        </li>
        <li class="nav-item">
          <a href="https://youtu.be/7P72ybPlvTs?si=EaRDrCTOfB4cUu0c" class="nav-link" target="_blank">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a href="https://youtu.be/5Ex_fPVIOMg?si=uMFv5MSzTqxO36ND" class="nav-link" target="_blank">Plazas-comercios</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
