<input id="tagNumberinit" type="hidden" value="{{tagNumberinit}}" />
<input id="tagNumberlength" type="hidden" value="{{tagNumberlength}}" />
<input id="tagNumberend" type="hidden" value="{{tagNumberend}}" />
<div class="buttons">
    <!--button (click)="setMarkerIndex()" type="button" id="showModal" class="btn btn-lg btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Mostrar más</button-->

</div>
<!--div class="buttonsRight row">
      <button style="height: 20%;" (click)="resize(1)" class="btn btn-outline-warning">+</button>
      <button style="height: 20%;" (click)="resize(-1)" class="btn btn-outline-primary">-</button>
</div-->
<div class="buttonsLeft">
  <button (click)="homeAction()" style="height: 30%;" class="btn btn-warning"><</button>
</div>
<div class="buttonsTop">
  <!--div *ngFor="let image of item.images; index as i">
    <button *ngIf="isSingleMarker" (click)="setImage(image.url!,i)" class="btn btn-sm btn-outline-light">{{image.name}}</button>
  </div-->  
</div>

<a-scene  vr-mode-ui="enabled: false" color-space="sRGB" renderer="gammaOutput: true"
  embedded arjs='debugUIEnabled: false; sourceType: webcam; patternRatio: 0.85; trackingMethod: best;'
  gesture-detector class="scene" renderer="precision:mediump;
  antialias: true;
  colorManagement: true;
  sortObjects: true;
  physicallyCorrectLights: true;
  maxCanvasWidth: 1920;
  maxCanvasHeight: 1920;">
  <a-assets>
            <!--img id="city-thumb" src="https://firebasestorage.googleapis.com/v0/b/uptamira.appspot.com/o/undefined%20%2FIMG_8980.JPG?alt=media&token=2741e0dd-f9fa-4920-8152-fc80aeb686fe" /-->
    <!--img crossorigin="anonymous"  id="city0-thumb" src="https://firebasestorage.googleapis.com/v0/b/uptamira.appspot.com/o/undefined%20%2FIMG_8841.JPG?alt=media&token=2278948c-71da-4833-884a-72a0a4328795" />
    <img crossorigin="anonymous" id="city1-thumb" src="https://firebasestorage.googleapis.com/v0/b/uptamira.appspot.com/o/undefined%20%2FIMG_8851.JPG?alt=media&token=afa6c001-c534-417f-b80f-16f0b62a5e73" />
    <img crossorigin="anonymous" id="city2-thumb" src="https://firebasestorage.googleapis.com/v0/b/uptamira.appspot.com/o/undefined%20%2FIMG_8848.JPG?alt=media&token=ddd8c6a6-f8c6-4682-befc-49f5e527d4c8" /-->
    <div *ngIf="isSingleMarker; else multimarkers" >
      <div *ngFor="let image of item.images">
        <img *ngIf="image.type == 'image' || image.type == 'vcard'|| image.type == 'poster' || image.type == undefined" crossorigin="anonymous" id="multimarkerImg" src={{image.url}} />
      </div>
       </div>
    <ng-template #multimarkers>
      <div *ngFor="let image of item.images; index as i" >
        <!--div *ngFor="let imageElem of image.elements; index as j" >
          <img crossorigin="anonymous" id="{{'elem'+(j)+'-thumb'}}" src={{imageElem.url}} />
        </div-->
        <!--img *ngIf="image.type == 'image' || image.type == 'vcard' || image.type == 'poster' || image.type == undefined" crossorigin="anonymous" id="{{'img'+(i+tagNumberinit)}}" src={{image.url}} /-->
        <img *ngIf="image.type == 'image' || image.type == 'vcard' || image.type == 'poster' || image.type == undefined" crossorigin="anonymous" id="{{'city'+(i)+'-thumb'}}" src={{image.url}} />
        <video autoplay *ngIf="image.type == 'video'" id="{{'video'+(i+tagNumberinit)}}" crossOrigin="anonymous" playsinline webkitplaysinline 
        controls muted src="{{image.url}}" ></video>
        <!--a-asset-item *ngIf="image.type == 'model'" id="{{'model'+(i+tagNumberinit)}}" src="../../../assets/models/alien.glb"></a-asset-item-->
    </div>
   
    </ng-template>
    
  

		
  </a-assets>  	
  <a-entity id='userCamera' camera>
		<a-cursor> </a-cursor>
		
    	</a-entity>

	</a-scene>
  <input type="hidden" id="imgIndex" [value] = "currentMarkerIndex"/>
  
  <!--app-modal [item]="item" [search]="false" [currentMarkerIndex]="currentMarkerIndex"></app-modal-->