<input id="tagNumberinit" type="hidden" value="{{tagNumberinit}}" />
<input id="tagNumberlength" type="hidden" value="{{tagNumberlength}}" />
<input id="tagNumberend" type="hidden" value="{{tagNumberend}}" />
<div class="buttons">
  <button (click)="homeAction()" class="btn btn-primary">Home</button>
  <button type="button" id="showModal" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Detalle</button>
</div>

<a-scene markers_start vr-mode-ui="enabled: false" color-space="sRGB" renderer="gammaOutput: true"
  embedded arjs='debugUIEnabled: false; sourceType: webcam; patternRatio: 0.85; trackingMethod: best;'
  gesture-detector>
  <a-assets>
    <img *ngFor="let image of item.images; index as i" crossorigin="anonymous" id="{{'img'+(i+tagNumberinit)}}" src={{image.url}} />
	<!--img crossorigin="anonymous" id="img0" src={{urlPhoto}} />
  <img crossorigin="anonymous" id="img1" src={{urlPhoto}} />
  <img crossorigin="anonymous" id="img2" src={{urlPhoto}} />
  <img crossorigin="anonymous" id="img3" src={{urlPhoto}} /-->
		<a-asset-item id="back" src="../../../assets/models/hoverboard.glb"></a-asset-item>
  </a-assets>  	
  <a-entity id='userCamera' camera>
		<a-cursor> </a-cursor>
		
    	</a-entity>
      <!--a-marker *ngFor="let element of item.elements; index as ind" registerevents 
      url="{{urltest}}" id="{{element.name}}" type='pattern'>
        <a-image class='clickable' gesture-handler="{minScale: '1', maxScale: '10'}" 
        geometry="{width:'3', height:'3'}" material="{src: '#img'+ind, color: '#FFF'}"
        position="0, .1, 0" rotation="-90, 0, 0">
  
        </a-image>
  
      </a-marker-->
	</a-scene>
  
  
  <app-modal [item]="item"></app-modal>