<div *ngIf="false">
  <button (click)="selectedTempMarker(item.indexInit!)" class="btn btn-outline-light col-4">Marcador</button>
  <button (click)="selectedTempImage(item.code!)" class="btn btn-outline-light col-4">Show QR</button>
  <button  class="btn btn-warning col-4">Descargar</button>
</div>
<div *ngIf="!showImg" class="mt--4 container blackHoles">
  <div class="container100">
    <h5 *ngIf="item.title" class="text-white text-end">{{ item.title }}</h5>
    <h5 *ngIf="item.displayName" class="text-white">{{ item.displayName }}</h5>
    <!--h4 *ngIf="item.description || item.description !==''" class="card-title m-1 rounded text-warning text-center">{{ item.description }}</h4-->
    <div class="row text-white" *ngIf="item.type == 'vcard'">
          <!-- Facebook -->
          <a href="{{item.facebook}}" *ngIf="item.facebook || item.facebook !==''" class="text-white btn col-4" style="background-color: #46139d;" href="{{item.facebook}}" role="button"
          ><img src="../../../assets/img/facebook.png" style="width: 25px;height: 25px;" alt="Black Icon"> Facebook</a
          >


<!-- Twitter -->
<a href="{{item.twitter}}" *ngIf="item.twitter || item.twitter !==''" class="text-white btn col-4" style="background-color: #55acee;" href="{{item.twitter}}" role="button"
><img src="../../../assets/img/twitter.png" style="width: 20px;height: 20px;" alt="Black Icon"> Twitter</a
>

<!-- Linkedin -->
<a href="{{item.linkedin}}" *ngIf="item.linkedin || item.linkedin !==''" class="text-white btn col-4" style="background-color: #5711e2;" href="{{item.linkedin}}" role="button"
><img src="../../../assets/img/linkedin.png" style="width: 20px;height: 20px;" alt="Black Icon"> LinkedIn</a
>


    </div>


    
    <button *ngIf="false" class="btn btn-outline-warning" (click)="selectedElement()">Seleccionar</button>

    <div *ngIf="true; else imgDefault">
   
      <div id="{{ item.id }}" class="carousel" >
  
        <div class="carousel-inner">
          <div class="row" style="margin-bottom: 50px;" *ngFor="let url of item.externalUrls;index as i">
              <a href="{{url.src}}" class="btn btn-primary col-4">{{url.title}}</a>
          </div>
          <div *ngIf="item.type!.includes('photo'); else place">
            <div *ngFor="let image of item.images; index as i" [ngClass]="{
              'carousel-item': true,
              'active': i==0
            }"
            >
            
              <img src="{{image.src}}" class="d-block w-100" alt="i">
            </div>
          </div>
          <ng-template #place>
           
          <div  *ngFor="let image of imgs; index as i" [ngClass]="{
              'carousel-item': true,
              'active': i==0
            }"
            >
            <div class="row pt-3">
              <!--h5 *ngIf="image.title" class="card-title text-warning text-end">{{ image.title }}</h5-->
              <h5 *ngIf="image.displayName" class="text-white">{{ image.displayName }}</h5>
              <!--h4 *ngIf="image.description || image.description !==''" class="card-title m-1 rounded text-bg-info text-center">{{ image.description }}</h4-->
              <h3 *ngIf="image.name" class="col-6 text-white">{{ image.name }}</h3>
              <h3 *ngIf="image.title" class="col-6 text-white text-end">{{ image.title }}</h3>
            </div>
            
            <h5 *ngIf="image.description" class="rounded-4 text-bg-light text-center me-3 ms-3 p-2">{{ image.description }}</h5>
            <!--div class="row" *ngIf="image.type === 'video'" >
              <button class="btn offset-2 col-4 btn-outline-primary align-center" (click)="startVideo('videoplayer'+i)">Play</button>
              <button class="btn col-4 btn-outline-light align-center" (click)="stopVideo('videoplayer'+i)">Pause</button>
            
            </div-->
            <div class="row mt-2 mb-2">
              <video class="d-block w-100" style="z-index: 0;"
                  id='videoplayer{{i}}' 
                  controls  *ngIf="image.type === 'video'" 
                  width="360"
                 height="240">
                <source src="{{image.url}}" type="video/mp4">
               </video>
        
    
              <img *ngIf="image.type === 'image'" src="{{image.url}}" class="d-block w-100"  (click)="selectedImage(i)" alt="i">
           
            </div>
          </div>
          
          </ng-template>
          
          
         
        </div>
        <div *ngIf="item.images!.length>1 || imgs.length >1">
          <button class="carousel-control-prev" style="max-width: 60px;max-height: 60px;margin-top: 180px;background-color: black;" type="button" [attr.data-bs-target]="'#'+item.id" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" style="max-width: 60px;max-height: 60px;margin-top: 180px;background-color: black;" type="button" [attr.data-bs-target]="'#'+item.id" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
       
      </div>
      <!--END CAROUSEL-->
     
    </div>
    <ng-template #imgDefault>
        <!-- Carousel images-->
        <div
        id="img{{ item.id }}"
        class="carousel slide"
        data-ride="carousel"
        data-bs-ride="carousel">
        <div class="row">
          <div *ngFor="let image of item.images; let i = index" class="">
        
            <img class="d-block w-100" [src]="image.url"
      (click)="selectedImage(i)"/>
      
          </div>
        </div>
  
      </div>
    </ng-template>
     
  </div>

   
  </div>
  <div *ngIf="showImg">
    <button class="btn btn-danger" (click)="closeImg()">Cerrar</button>
 
      <img
    class="d-block w-100"
    [src]="imgURL"
    
  />
 
    
  </div>