<div *ngIf="false">
  <button (click)="selectedTempMarker(item.indexInit!)" class="btn btn-outline-light col-4">Marcador</button>
  <button (click)="selectedTempImage(item.code!)" class="btn btn-outline-light col-4">Show QR</button>
  <button  class="btn btn-warning col-4">Descargar</button>
</div>
<div *ngIf="!showImg" class="card h-100 containerHalf">
  <div class="card-body">
    <h4 *ngIf="item.description || item.description !==''" class="card-title text-white">{{ item.description }}</h4>
    <div class="row text-white" *ngIf="item.type == 'vcard'">
          <!-- Facebook -->
          <a href="{{item.facebook}}" *ngIf="item.facebook || item.facebook !==''" class="text-white btn col-4" style="background-color: #46139d;" href="{{item.facebook}}" role="button"
          ><img src="../../../assets/img/facebook.png" style="width: 25px;height: 25px;" alt="Black Icon"> Facebook</a
          >


<!-- Twitter -->
<a href="{{item.twitter}}" *ngIf="item.twitter || item.twitter !==''" class="text-white btn col-4" style="background-color: #55acee;" href="{{item.twitter}}" role="button"
><img src="../../../assets/img/twitter.png" style="width: 20px;height: 20px;" alt="Black Icon"> Twitter</a
>

<!-- Linkedin -->
<a href="{{item.linkedin}}" *ngIf="item.linkedin || item.linkedin !==''" class="text-white btn col-4" style="background-color: #5711e2;" href="{{item.linkedin}}" role="button"
><img src="../../../assets/img/linkedin.png" style="width: 20px;height: 20px;" alt="Black Icon"> LinkedIn</a
>


    </div>

   <h5 *ngIf="item.title" class="card-title text-warning">{{ item.title }}</h5>
    <h5 *ngIf="item.displayName" class="card-title">{{ item.displayName }}</h5>
    <button *ngIf="false" class="btn btn-outline-warning" (click)="selectedElement()">Seleccionar</button>
  </div>
  
    <div *ngIf="true; else imgDefault">
      <!-- Carousel images-->
      <!--div
        id="img{{ item.id }}"
        class="carousel slide"
        data-ride="carousel"
        data-bs-ride="carousel">
        <div class="row">
          <div *ngFor="let image of item.images; let i = index" class="col-5">
        
            <img class="d-block" style="max-height: 150px;max-width: 150px;cursor:pointer" [src]="image.url"
      (click)="selectedImage(i)"/>
      
          </div>
        </div>
  
      </div-->
      <div id="carouselExampleControls" class="carousel" >

        <div class="carousel-inner">
          <div *ngIf="item.name!.includes('photo'); else place">
            <div *ngFor="let image of item.images; index as i" [ngClass]="{
              'carousel-item': true,
              'active': i==0
            }"
            >
            
              <img src="{{image.url}}" class="d-block w-100" alt="i">
            </div>
          </div>
          <ng-template #place>
           
            <div  *ngFor="let image of imgs; index as i" [ngClass]="{
              'carousel-item': true,
              'active': i==0
            }"
            >
            <div class="row" *ngIf="image.type === 'video'" >
              <button class="btn offset-2 col-4 btn-outline-primary align-center" (click)="startVideo('videoplayer'+i)">Play</button>
              <button class="btn col-4 btn-outline-light align-center" (click)="stopVideo('videoplayer'+i)">Pause</button>
            
            </div>
            <div class="row mt-2">
              <video class="d-block w-100" style="z-index: 0;"
                  id='videoplayer{{i}}' 
                  controls  *ngIf="image.type === 'video'" 
                  width="360"
                 height="240">
                <source src="{{image.url}}" type="video/mp4">
               </video>
        
    
              <img *ngIf="image.type === 'image'" src="{{image.url}}" class="d-block w-100"  (click)="selectedImage(i)" alt="i">
           
            </div>
              </div>
          
          </ng-template>
          
          
         
        </div>
        <button class="carousel-control-prev" style="max-height: 30px;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" style="height: 30px;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
      <!--END CAROUSEL-->
     
    </div>
    <ng-template #imgDefault>
      <img
        src="{{'assets/img/noimage.png'}}"
        class="card-img-top"
        style="max-height: 150px"
        alt="image"
      />
    </ng-template>
   
  </div>
  <div *ngIf="showImg">
    <button class="btn btn-danger" (click)="closeImg()">Cerrar</button>
    <img
    class="d-block w-100"
    [src]="imgURL"
    
  />
  </div>