.textarea {
    margin:0px 0px;
    padding:5px;
    min-height:16px;
    line-height:16px;
    width:96%;
    display:block;
    margin:0px auto;   
    color: antiquewhite !important; 
  }
  .blackHoles{
    background-image: url("../../assets/img/background.png");
    background-color: black;
  }
  .brown{
    background-image: url("../../assets/img/brown.png");
  }
  .blue{
    background-image: url("../../assets/img/blue.png");
  }
  .white{
    background-image: url("../../assets/img/whiteback.jpeg");
  }