
<!--div>
  <button mat-fab *ngIf="listening$ | async; else mic" (click)="stop()">
    <mat-icon class="soundwave">mic</mat-icon>
  </button>
  <ng-template #mic>
    <button mat-fab (click)="start()">
      <mat-icon>mic</mat-icon>
    </button>
  </ng-template>
  <button class="btn btn-primary" (click)="startSpeech()">Speech</button>
</div>
<section *ngIf="transcript$ | async">
  <mat-card class="notification mat-elevation-z4">{{transcript$ | async}}</mat-card>
</section>
<section>
  <mat-form-field class="speech-result-width">
    <textarea matInput [value]="totalTranscript || ''" placeholder="Speech Input Result" rows="15" disabled="true"></textarea>
  </mat-form-field>
</section-->

<app-header></app-header>
<div #screen *ngIf="!switchTemp; else showPhoto">
  <div *ngIf="user$ | async as user" class="main container row ">
    <button
      *ngIf="emailConfirmed && creator"
      (click)="gotTo(true)"
      class="btn btn-primary col-6"
    >
      Models 3D
    </button>
    <button *ngIf="user$ | async as user" (click)="addItem()" class="btn col-6 btn-warning" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Add item</button>
  </div>

  <div class="main bg-light row">
    <div class="mb-3 col container align-center">
      <div
        class="btn-group bg-black col-12 mt-2"
        role="group"
        aria-label="Basic radio toggle button group"
      >
        <input
          type="radio"
          (click)="showmyCodeDiv(true, 'explore')"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="btn-check"
          name="btnradio"
          id="btnradio1"
          autocomplete="off"
          checked
        />
        <label class="btn btn-outline-secondary" for="btnradio1">Explorar</label>

        <input
          type="radio"
          (click)="showmyCodeDiv(false, 'foto')"
          class="btn-check"
          name="btnradio"
          id="btnradio2"
          autocomplete="off"
        />
        <label class="btn btn-outline-light" for="btnradio2">Buscar</label>


        <!--input
          type="radio"
          (click)="showmyCodeDiv(false, 'tarjeta')"
          class="btn-check"
          name="btnradio"
          id="btnradio3"
          autocomplete="off"
        />
        <label class="btn btn-outline-primary" for="btnradio3">Tarjeta</label>

        <input
          type="radio"
          (click)="showmyCodeDiv(false, 'avatar')"
          class="btn-check"
          name="btnradio"
          id="btnradio4"
          autocomplete="off"
        />
        <label class="btn btn-outline-primary" for="btnradio4">Avatar</label-->
      </div>
      <!--div class="container">
          
        <button (click)="showmyCodeDiv(false)" class="btn btn-outline-primary col-6">Tríptico 3d</button>
          <button class="btn btn-primary col-4">Foto 3d</button>
          <button class="btn btn-primary col-4">Tarjeta 3d</button>
          <button class="btn btn-primary col-4">Menú 3d</button>
          
       </div-->
    </div>
  </div>

  <h1 id="error" class="text-bg-danger text-center ms-5 me-5 mt-1">{{ textError }}</h1>
  <div *ngIf="showCodeDiv; else showCodeInput" class="main row">
    <div class="container form-group">
      <!--button
        id="showingModal"
        (click)="setLugares()"
        class="btn btn-warning col-4 btn-md offset-4 text-bg-primary"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Cambiar locación
      </button-->
     
      <!--button (click)="addItem()">Add</button-->
     
      <!--select [ngModel]="place" (ngModelChange)="onSelectChange($event)" class="form-select form-select-md mb-3" name="title"  aria-label=".form-select-lg example">
            <option *ngFor="let lugar of lugares" [ngValue]="lugar.name">{{lugar.name}}</option>
          </select-->
          
    </div>
   
    <div
      *ngFor="let element of searchElements; index as elem"
      class="card"
      class="mt-3 col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-5"
    >
    <div id="item{{ element.id }}" class="carousel" >

      <div class="carousel-inner bg-dark">
    <div  *ngFor="let image of element.images; index as index" [ngClass]="{
      'carousel-item': true,
      'bg-white':true,
      'active': index==0
    }" 
    >
    <div [ngClass]="{'blackHoles': elem  % 2 === 0,'brown':elem % 2 === 1}"
     >
      <div class="container text-center mt-2 pb-2 pt-1">
      
        <h2 class="mt-3 text-bg-warning text-center text-dark text-info">
          {{ element.name }} 
        </h2>
        <h4 class="text-bg-light m-2 text-center rounded">{{image.name}}</h4>
        <p class="text-bg-dark rounded text-center">{{image.description}}</p>
        <div class="row justify-content-md-center">
          <div class="col-auto">
            <button
            *ngIf="image.type =='model'"
              (click)="switchToPlace(element)"
              class="btn btn-block btn-close-white btn-outline-dark btn-warning col-12"
              
            >
              QR/3D
            </button>
          </div>
          <div class="col-auto">
            <button *ngIf="image.elements" (click)="showItem(element,image)" class="btn col-12 btn-primary" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
              Ver más
            </button>
          </div>
          <div class="col col-auto">
            <button
            *ngIf="emailConfirmed"
              (click)="switchTo3D(element)"
              class="btn col-12 btn-light"
            >
              3D
            </button>
          </div>
        </div>
       
        
        
        <div  class="rounded m-2">
          <img *ngIf="image.type === 'image' || image.type === 'model'" src="{{ image.url }}" class="card-img-top" alt="..." />
          <video  class="d-block w-100" style="z-index: 0;"
                  id='videoplayer{{index}}' 
                  controls  *ngIf="image.type === 'video'" 
                  width="360"
                 height="240">
                <source src="{{image.url}}" type="video/mp4">
               </video>
        </div>
        <div class="row">
          <p class="text-success col-8 textarea text-bg-dark">{{image.email}}</p>
          <p class="text-success col-4 textarea text-bg-secondary">{{image.title}}</p>
          <!--p class="text-success col-4 textarea text-bg-secondary">{{image.id}}</p-->
        </div>
        
       
      </div>

    </div>
    <div *ngIf="element.images!.length>1">
      <button class="carousel-control-prev" style="max-height: 60px;margin-top: 150px;background-color: black;" type="button" [attr.data-bs-target]="'#item'+element.id" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" style="height: 60px;margin-top: 150px;background-color: black;" type="button" [attr.data-bs-target]="'#item'+element.id" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  </div>
</div>
      <!--div class="card-body bg-info rounded m-2">
        <div class="container mt-2 pb-2 pt-1">
          <h2 class="text-center text-info mt-3 bg-white">
            {{ element.name }}
          </h2>

          <button
            (click)="switchToPlace(element)"
            class="btn col-6 btn-warning"
          >
            QR
          </button>
          <button
          *ngIf="emailConfirmed"
            (click)="switchTo3D(element)"
            class="btn col-6 btn-light"
          >
            3D
          </button>
          <button (click)="showItem(element)" class="btn col-6 btn-primary" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
            Galeria
          </button>
          <div class="rounded m-2">
            <img src="{{ element.url }}" class="card-img-top" alt="..." />
          </div>
          
          <p class="text-bg-dark rounded text-center">{{element.description}}</p>
        </div>

      </div-->
      
    </div>

  </div>
  <ng-template #showCodeInput>
    <div class="container center form">
      <div class="accordion pt-2 accordion-flush" id="accordionFlushExample">
        <div class="accordion-item text-blue bg-opacity-75 col-12 bg-dark">
       
         
          <div
            id="collapseOne"
            class="main container"
        
          >
            <div class="row">
              <button
              class="btn btn-warning btn-block btn-md text-bg-success mb-2"
              (click)="gotToPage('speech')"
              
            >
              Búsqueda por Voz
            </button>
              <div class="row bg-light bg-opacity-50 col-md-6 rounded-4 mb-2">
                <h3 class="bg-light rounded text-center">Por area</h3>
                <select [ngModel]="place" (ngModelChange)="onSelectChange($event)" class="form-select text-bg-warning text-center text-white form-select-sm" name="title" >
                  <option *ngFor="let lugar of lugares" [ngValue]="lugar">{{lugar.name}}</option>
                </select>
              </div>
          
          <div class="row bg-light col-md-6 ms-3 bg-opacity-50 rounded-4">
            <h3 class="bg-light rounded text-center">Por palabra</h3>
            <div class="mt-2 col-8">
              <input type="text" number class="form-control-sm" placeholder="playera, pantalon, mochila" [(ngModel)]="filter"/>
            </div>
            <div class="mb-2 col-4">
              <button (click)="buscarProd()" class="btn btn-sm btn-primary ">Buscar</button>
            </div>
            <div class="row">
              <p class="text-white col-2 text-end">Ej.</p>
            <span id="element" class="col-10 text-white"></span>
            </div>
            
          </div>
              <!--div class="col-6" *ngFor="let lugar of lugares">
                <button
                  (click)="onSelectBtn(lugar.name!)"
                  class="btn m-1 col-12 btn-light"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  {{ lugar.name }}
                </button>
              </div-->
            </div>
           
          </div>
          
        </div>
    
      </div>
      <!--h1 class="text-center text-warning">Que deseas buscar</h1>
      <select [ngModel]="place" (ngModelChange)="onItemSelectChange($event)" class="form-select form-select-md mb-3" name="title"  aria-label=".form-select-lg example">
            <option *ngFor="let folder of folders" [ngValue]="folder.description">{{folder.name}}</option>
          </select>
      <h4 class="text-center text-warning">Inserta tu codigo</h4>
      <input
        id="codeForElement"
        class="form-control form-text m-3"
        type="text"
        [(ngModel)]="elementNumber"
      />
      <button
        class="form-control btn btn-outline-primary m-3"
        (click)="getARElement()"
      >
        Buscar
      </button-->
    </div>
  </ng-template>

</div>
<ng-template #showPhoto>
  <app-afelement *ngIf="afelement" (returnBtn)="gotTo($event)" [item]="itemAR"></app-afelement>
  <app-arelement *ngIf="arelement" (returnBtn)="gotTo($event)" [itemAR]="itemAR" [modelos]="models"></app-arelement>
</ng-template>

<app-modal
  [uploadImage]="uploadimage"
  [caller]="caller"
  [item]="currentItem"
  [newItem]="newItem"
  [search]="search"
  [isform]="isForm"
  [codes]="codes"
  [elements]="indexElements"
  [currentMarkerIndex]="currentMarkerIndex"
  (selectedValue)="changePlace($event)"
></app-modal>
