<!--footer class="page-footer py-2">
    <div class="footer-bottom">
        <div class="container">
            <div class="row text-bg-warning">
  
                <div class="col-12 text-center">
                    <div class="footer-copyright text-center">
  
                        ©  Copyright:
                        <a href="#"> Publicar3d.com</a>
                    </div>
  
                </div>
            </div>
        </div>
    </div>
  
  </footer-->
  <footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; {{ test | date: "yyyy" }} <a href="https://www.facebook.com/Publicar3d/" class="font-weight-bold ml-1" target="_blank">Publicar-3D</a>
        </div>
      </div>
      <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
          <li class="nav-item">
            <a href="https://twitter.com/publicar3d" class="nav-link" target="_blank">X Twitter</a>
          </li>
          <li class="nav-item">
            <a href="https://www.instagram.com/publicar3d/" class="nav-link" target="_blank">Instagram</a>
          </li>
          <li class="nav-item">
            <a href="https://www.facebook.com/Publicar3d/" class="nav-link" target="_blank">Facebook</a>
          </li>
          <li class="nav-item">
            <a href="https://www.tiktok.com/@publicar3d" class="nav-link" target="_blank">TikTok</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>